.back {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);   
    width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1000;
    height: 40px;
    opacity: 40%;
}


.back:hover, :visited, :link, :active {
    text-decoration: none;
    color: white;
    text-align: left;
    opacity: 100%;
}


.home{
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: black;
    width: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 1000;
    font-size: 30pt;
    opacity: 40%;
}


.home:hover, :visited, :link, :active {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: left;
    opacity: 100%;
}


body {
    background-image:repeating-radial-gradient(lime, purple)
}

h2 {
    color: white;
    text-align: center;
    background-color: black;
    width: fit-content;
    background-position: center;
    margin: auto;
    font-size: 60pt;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.item1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48%;
    color: rgb(2, 2, 2);
    font-size: 30pt;
    padding: 10px;
}

.item2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 47%;
    color: rgb(0, 0, 0);
    font-size: 30pt;
    padding: 10px;
}

.item3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 47%;
    color: rgb(0, 0, 0);
    font-size: 30pt;
    padding: 10px;
}

.item4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 47%;
    color: rgb(0, 0, 0);
    font-size: 30pt;
    padding: 10px;
}

img {
    float:bottom;
    width: 7in;
    height: 5in;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit:cover;
    text-align: center;
}

p {
    text-align: center;
    background-color: rgba(91, 89, 89, 0.492);
    box-shadow: 3px 6px 9px rgb(68, 67, 67); ;
    border-radius: 15px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
